In [1]:
#introduction to dataframes

In [2]:
#creating an empty data frame

In [6]:
import numpy as np
import pandas as pd

In [7]:
dataf = pd.DataFrame()

print(dataf)

Empty DataFrame
Columns: []
Index: []

In [8]:
#creating datatframe from a list

In [9]:
import numpy as np

import pandas as pd

In [10]:
data=[700,900,1000,484,1888,4984894]

datafnumbers =pd.DataFrame(data)


print(datafnumbers)

         0
0      700
1      900
2     1000
3      484
4     1888
5  4984894

In [12]:
data =[['india',1],['australia',2],['england',3],['newzealand',4],['westindies',5]]


rankings = pd.DataFrame(data,columns =['country','position'])

print(rankings)

      country  position
0       india         1
1   australia         2
2     england         3
3  newzealand         4
4  westindies         5

In [13]:
data =[['india',1],['australia',2],['england',3],['newzealand',4],['westindies',5]]


rankings = pd.DataFrame(data,index =[2011,2007,2019,1990,1979],columns =['country','position'])

print(rankings)

         country  position
2011       india         1
2007   australia         2
2019     england         3
1990  newzealand         4
1979  westindies         5

In [14]:
import numpy as np

import pandas as pd

In [15]:
data =[['sai',10],['sri',9],['dileep',8],['vijay',7],['shreyas',6],['aravind',5]]


df =pd.DataFrame(data,index =['rank1','rank2','rank3','rank4','rank5','rank6'],columns =['Name','Marks'],dtype =float)


print(df)

          Name  Marks
rank1      sai   10.0
rank2      sri    9.0
rank3   dileep    8.0
rank4    vijay    7.0
rank5  shreyas    6.0
rank6  aravind    5.0

In [ ]:
#creating a dataframe using dicyionary

In [17]:
import numpy as np

import pandas as pd

In [19]:
data ={'Name':['sai','karim','gopal','mani','sairaj','tulasi','daya','srinu','meher'],'AGE':[27,26,26,27,27,27,26,25,27]}


agedetails = pd.DataFrame(data)

print(agedetails)

     Name  AGE
0     sai   27
1   karim   26
2   gopal   26
3    mani   27
4  sairaj   27
5  tulasi   27
6    daya   26
7   srinu   25
8   meher   27