In [1]:
#introduction of iterations over numpy arrays

In [2]:
import numpy as np

students = np.array([['sai','sekar','ram','krishna','sairaj'],
                     [80,75,87,92,78],
                     [180,175,187,192,178]])

In [3]:
a =np.arange(11)**2

a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [4]:
for x in a:
    print(x**1/2)

0.0
0.5
2.0
4.5
8.0
12.5
18.0
24.5
32.0
40.5
50.0

In [5]:
for sai in a:
    print(sai**8.5)

0.0
1.0
131072.0
129140163.0
17179869184.0
762939453125.0
16926659444736.0
232630513987207.0
2251799813685248.0
1.6677181699666568e+16
1e+17

In [6]:
students = np.array([['sai','sekar','ram','krishna','sairaj'],
                     [80,75,87,92,78],
                     [180,175,187,192,178]])

In [19]:
for partition in students:
    
    print('i=',partition)

i= ['sai' 'sekar' 'ram' 'krishna' 'sairaj']
i= ['80' '75' '87' '92' '78']
i= ['180' '175' '187' '192' '178']

In [20]:
#row major flattening

In [21]:
students = np.array([['sai','sekar','ram','krishna','sairaj'],
                     [80,75,87,92,78],
                     [180,175,187,192,178]])

In [31]:
import numpy as np

for seperation in students.flatten():

    print(seperation)

sai
sekar
ram
krishna
sairaj
80
75
87
92
78
180
175
187
192
178

In [35]:
import numpy as np

for coloumn in students.flatten(order = 'F'):
    
    
    print(coloumn)

sai
80
180
sekar
75
175
ram
87
187
krishna
92
192
sairaj
78
178

In [36]:
x =np.arange(16).reshape((8,2))

In [37]:
x

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15]])

In [39]:
for s in np.nditer(x):
    
    
    print(s)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [40]:
for s in np.nditer(x,order = 'F'):
    
    print(s)

0
2
4
6
8
10
12
14
1
3
5
7
9
11
13
15